img#logo
  width: 150px

body
  background-color: #fff
  padding: 0
  margin: 0

h1
  font-family: 'Noto Sans', sans-serif

.menu
  color: rgba(255,255,255,0.6)
  float: right
  margin: 32px 20px

.signin
  background-color: #32cd32
  color: #fff
  padding: 10px
  border-radius: 5px
  margin: 22px 30px 0 20px

.signin:hover
  background-color: rgba(50,220,50,0.7)
  color: rgba(255,255,255,0.5)
  
a
  text-decoration: none

a.menu:hover
  color: #fff

.catch
  color: #fff
  font-size: 45px
  text-align: center
  line-height: 45px
  display: block
  margin: 50px
  
.green
  color: #00ff00

.purple
  color: #674598

.black
  color: #000

span.sub
  font-size: 25px

section.simple
  padding: 50px 15%

section.odd
  background-color: #dcdcdc

section.even
  background-color: #fff

section#page1
  height: 400px
  background-color: #674598
  margin: 0
  padding: 0

img#logo2
  display: block
  margin: 0px auto
  width: 300px

h1
  font-weight: 100
  display: block
  margin: 0
  font-size: 40px

h1.even
  text-align: right

.area-text.page3
  display: block
  margin-top: 35px
  font-size: 20px

.area-text.page4
  display: block
  margin-top: 35px
  font-size: 20px
  text-align: right

h2
  font-weight: 100
  color: #fff
  width: 33%
  text-align: center
  padding: 10px 0
  float: left
  margin: 0
  
h2.contact
  background-color: #00ff00

.tech
  background-color: #674598
  width: 34%
  
.about
  background-color: #0000ff

.foot:hover
  opacity: 0.7

.area-footer
  display: block
  float: left
  margin: 10px 0 10px 20px
  color: #000

.area-footer:hover
  color: rgba(0,0,0,0.5)
