doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css" type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css')
    title Linkage ~Link to the Frontier~
  body
    video(src='/images/Lin_back.mp4' autoplay loop)
    main
      section#page1
        img#logo(src='/images/logo-linkage-reverse.svg')
        a(href='signin.html').menu.signin Sign in
        a(href='help.html').menu.help Help
        a(href='contact.html').menu.contact Contact
        a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
        a(href='tour.html').menu.tour Tour
        .catch
          span.green LiNK
          | &nbsp;anything, anytime!
          br
          span.sub on September Ver.α release
      section.even
        span.phrase No more scroll, Save your time!!
        //img#logo2(src='/images/logo-linkage.svg')
      section.simple.odd
        h1.page3 Your mind will be Team’s one
        .area-text.page3
          p &nbsp; Linkage will keep you from reviewing the busy chat line to search for oversights so that you and your team members can share a single objective without conflict. No more oversight and conflict, just run toward the team’s success.
      section.simple.even
        h1.even Safe Communication anywhere, anytime
        .area-text.page4
          p &nbsp;Communication on Linkage is much more secure than business e-mai, so you will not have to worry about leak of information any more.
      section.simple.odd
        h1.page3 Not only within your firm, Also with outsiders
        .area-text.page3
          p Speciall working space can be arranged on Linkage to invite outside workers. On this space, you can visually share with them what the members have to do immediately and will be able to make a smooth progress.
      section.simple.even
        h1.purple.even Link
          span.black &nbsp;to the other!
        .area-text.page4
          | Linkage can like to the other SNS and tools.
          br
          | We surpport a lot of survices!
      section.tour-foot
        a(href='tour.html')
          img(src='/images/takethetour.svg').taketour
      footer
        a(href='privacy.html').area-footer Privacy Pollicy
        a(href='terms.html').area-footer Terms of Service
        small &copy; 2015 Seginus.ltd
//
   Created by kashiharaakira on 15/08/14.

