doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css" type="text/css")
    title Linkage ~Link to the Frontier~
  body
    section#page1
      img#logo(src='/images/logo-linkage-reverse.svg')
      a(href='help.html').menu.help Help
      a(href='contact.html').menu.contact Contact
      .menu.service Service Blog
      a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
      a(href='tour.html').menu.tour Tour

      .catch
        span.green Link
        | &nbsp;to Frontier
        br
        span.sub on September Ver.α release
    section#page2
      img#logo2(src='/images/logo-linkage.svg')
    section#page3
      h1 Manage your
        span.green &nbsp;toDo
        |&nbsp;on
        span.purple &nbsp;Labels.
      .area-text
        |You can manage your toDo lists on labels.
        br
        |With #hashtags.
        br
        |Labels can be grouped, and linked.
        br
        |Of course, their color and fonts are variable!
//
   Created by kashiharaakira on 15/08/14.

