doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css" type="text/css")
    title Linkage ~Link to the Frontier~
  body
    img#logo(src='/images/logo-linkage-reverse.svg')
    a(href='help.html').menu.help Help
    a(href='contact.html').menu.contact Contact
    .menu.service Service Blog
    a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
    a(href='tour.html').menu.tour Tour

    .catch
      span.link Link
      | &nbsp;to Frontier
      br
      span.sub on September Ver.α release
//
   Created by kashiharaakira on 15/08/14.

