doctype html
html
  head
    link(rel='stylesheet' href='/css/common.css' type='text/css')
    link(rel='stylesheet' href='/css/signin.css' type='text/css')
    title Sign in Linkage
  body
    .bar-menu
      img#logo(src='/images/logo-linkage.svg')
      a(href='help.html').menu.help Help
      a(href='contact.html').menu.contact Contact
      a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
      a(href='tour.html').menu.tour Tour
    .area-signin
      h1 Sign in
      span.description Enter your team name.
      input(type='text' placeholder='Team Name')#name-team
      a(href='signin-user.html').submit
        button(type='button')#button-submit Continue
      .area-description
      |Only people who are under contract is Alpha version.
      br
      |If you have some questions, please contact us!