doctype html
html
  head
    link(rel='stylesheet' href='/css/common.css' type='text/css')
    title Sign in Linkage
  body
    .bar-menu
      img#logo(src='/images/logo-linkage.svg')
      a(href='help.html').menu.help Help
      a(href='contact.html').menu.contact Contact
      a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
      a(href='tour.html').menu.tour Tour