doctype html
html
  head
    link(rel='stylesheet' href='/css/common.css')
    link(rel='stylesheet' href='/css/contact.css')
    title Contact Us
  body
    .bar-menu
      a(href='index.html')
        img#logo(src='/images/logo-linkage.svg')
      a(href='help.html').menu.help Help
      a(href='contact.html').menu.contact Contact
      a(href='http://seginushq.github.io/hello-world/').menu.technical Technical Blog
      a(href='tour.html').menu.tour Tour